<h1>Show the student</h1>

<div class="card" style="width: 18rem;">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-body">
    <h5 class="card-title">Name: <i><%= @student.name %></i></h5>
    <p class="card-text">Branch: <%= @student.branch %></p>
    <p class="card-text">Year: <%= @student.year_of_study %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Email: <%= @student.email %></li>
    <li class="list-group-item">Phone Number: <%= @student.phone_number %></li>
  </ul>
  <div class="card-body">
    <%= link_to "Back to students", students_path %>
  </div>
</div>
