<h1>Show the book</h1>

<div class="card" style="width: 18rem;">
  <%# <img src="..." class="card-img-top" alt="..."> %>
  <div class="card-body">
    <h5 class="card-title">Title: <i><%= @book.title %></i></h5>
    <p class="card-text">Description: <%= @book.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Pages: <%= @book.pages %></li>
    <li class="list-group-item">ISBN: <%= @book.isbn %></li>
    <% if @book.pdf_file.present? %>
      <%= link_to "Read PDF", @book.pdf_file, class: "btn btn-warning" %>
    <% else %>
      <span>No PDF available!</span>
    <% end %>
  </ul>
  <div class="card-body">
    <%= link_to "Back to Books", books_path %>
  </div>
</div>
